@use "../../styles/variables" as *;

.introduction {
  background-image: url("/../images/whiteBG.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 80px;
  padding: 100px 40px 80px 40px;
  margin-top: -80px;
  scroll-snap-align: start;
  max-height: 100%;
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__profile {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    height: 100%;
    max-width: 100%;
    padding-right: 40px;
    overflow: hidden;
  }
  &__location {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__textbox {
    max-width: 100%;
  }
  &__headline {
    padding-top: 65px;
    padding-bottom: 25px;
  }
  &__text {
    padding-top: 5px;
    word-wrap: break-word;
  }
  &__structure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    gap: 200px;
  }
}
@media only screen and (max-width: $ipad) {
  .introduction {
    flex-direction: row;
    padding: 0;
    margin-bottom: 0;

    &__profile {
      grid-template-columns: 1fr;
      &__image {
        height: 10px;
      }
    }
    &__headline {
      padding-bottom: 10px;
    }
    &__textbox {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding-left: 35px;
    }
    &__text {
      padding-bottom: 15px;
      text-align: center;
      word-wrap: break-word;
    }
  }
}
@media only screen and (max-width: $mobile) {
  .introduction {
    background-image: url("/../images/whitegreenBG.png");

    &__headline {
      text-align: center;
    }
    &__text {
      padding-bottom: 15px;
      text-align: center;
    }
    &__structure {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-bottom: 50px;
      gap: 70%;
    }
  }
}

.space {
  background-color: transparent;
  height: 80px;
}
// .pictest {
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   buttom: 0;
//   z-index: -1;
// }
