@use "../../styles/variables" as *;

.contact {
  // background-image: url(images/computer.jpg);
  // background-size: 100%;
  // background-repeat: no-repeat;
  // background-position: bottom;
  min-height: 100vh;
  max-width: 100%;
  // background-color: rgb(111, 187, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  padding-top: 50px;
}

