@use "../../styles/variables" as *;

.navbar {
  z-index: 10;
  padding: 0 25px;
  background-color: $white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 0px 15px 26px -7px rgba(0, 0, 0, 0.4);
  &__logo {
    display: flex;
    justify-content: center;
    text-align: start;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }
  &__top {
    letter-spacing: 1.6px;
  }
  &__bottom {
    letter-spacing: 1.6px;
  }

  &__icon {
    height: 50px;
    padding-right: 10px;
  }

  &__items {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  &__link {
    text-decoration: none;
  }
  &__link:hover {
    color: navy;
  }
  &__link::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom: 0;
    background-color: white;
    transition: border-bottom ease-in-out 0.2s;
  }

  &__burger {
    display: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 30px;
    cursor: pointer;
  }

  &__burger-line {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
  }
}

@media only screen and (max-width: $mobile) {
  .navbar {
    justify-content: flex-end;
    &__logo {
      display: flex;
      justify-content: center;
      text-align: start;
      font-size: 1.5rem;
      text-decoration: none;
      color: black;
    }
    &__icon {
      height: 320px;
      padding-right: 10px;
    }
    &__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      inset: 0;
      background: linear-gradient(to bottom, $white, #199f8b);
      transform: translateY(-100%);
      transition: transform 0.1s;
      border-radius: 0 0 0.5rem 0.5rem;
    }
    &__items.active {
      transform: translateY(0);
    }
    &__item {
      display: block;
      text-align: center;
      padding: 0.5rem;
    }

    &__link {
      width: 100vw;
      font-size: 2rem;
    }
    &__burger {
      z-index: 1;
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: center;
      &-line:nth-child(1) {
        background-color: black;
        transform-origin: 0;
      }
      &-line:nth-child(1).navbar__burger-line--close {
        transform: translateY(0px) translateX(5px) rotate(45deg);
      }

      &-line:nth-child(2) {
        background-color: black;
        transition: transform 1s, background-color 0.5s;
      }
      &-line:nth-child(2).navbar__burger-line--close {
        transform: translateX(-150px);
        background-color: transparent;
      }

      &-line:nth-child(3) {
        // transform: translateY(14px);
        background-color: black;
        transform-origin: 0;
      }
      &-line:nth-child(3).navbar__burger-line--close {
        transform: translateY(1px) translateX(5px) rotate(-45deg);
      }
    }
  }
}

.desktop {
  display: none;
}
.mobile {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
