@use "../../styles/variables" as *;

.contactinfo {
  background-image: url("../../images/whiteBG.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
  position: relative;
  &__container {
    display: flex;
  }
  &__headline {
    padding-bottom: 140px;
    font-size: 3.5rem;
  }
  &__box {
    padding-bottom: 50%;
    max-width: 400px;
    min-width: 300px;
    flex-direction: column;
    text-align: center;
  }
  &__link {
    text-decoration: none;
    // text-align: center;
  }
  &__icon {
    height: 100%;
    width: auto;
    max-height: 120px;
  }
  &__text {
    text-align: center;
    padding: 40px 0px 20px 0;
  }
  &__popup {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.755);
    max-width: 100%;
    max-width: 100%;
    height: 100vh;
    width: 100%;
    position: absolute;
    inset: 80px, 0;
  }
  &__title {
    color: white;
  }
  // POPUP STYLING
  &__email--title {
    color: white;
    font-size: 3rem;
  }
  &__email--text {
    color: white;
    font-size: 3rem;
  }
  &__location--container {
    position: relative;
  }
  &__location--image {
  }
  &__location--text {
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: black;
  }
}
@media only screen and (max-width: 1280px) {
  .contactinfo {
    &__container {
      // background-color: red;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__box {
      display: flex;
      flex-direction: column;
    }
  }
}
@media only screen and (max-width: 920px) {
  .contactinfo {
    &__container {
      width: 100%;
    }
    &__headline {
      font-size: 3.5rem;
    }
    &__box {
      // background-color: red;
    }
    &__icon {
      height: 100%;
      width: auto;
      // max-height: 120px;
    }
    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
@media only screen and (max-width: $mobile) {
  .contactinfo {
    &__container {
      width: auto;
      display: flex;
      flex-direction: column;
    }
    &__headline {
      font-size: 3.5rem;
    }
    &__box {
      padding-bottom: 20px;
      width: 300px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    &__icon {
      height: 100%;
      width: auto;
    }
    &__text {
      padding-right: 20px;
    }
  }
}
.newdirection {
  flex-direction: row-reverse;
}

.copy-notification {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
