@use "../../styles/variables" as *;

.design {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;

  &__title {
    font-weight: bold;
    padding: 20px 0;
  }
  &__icons {
    display: flex;
    width: 60%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__icon {
    height: 50px;
    width: auto;
  }
}
@media only screen and (max-width: $ipad) {
  .design {
    &__icons {
      align-items: center;
      justify-content: center;
    }
    &__icon {
      height: 40px;
      width: auto;
    }
  }
}
@media only screen and (max-width: $mobile) {
}
