@use "./styles/variables" as *;

* {
  box-sizing: border-box;
} 
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
