// Colors:
$white: #fff;
$black: #0c0c0c;
$green: #183c3b;
$yellow: #886c28;
$red: #9a2e37;
$orange: #ab4a24;
$lightyellow: #c38937;
$lightgreen: #378649;
$darkgreen: #4a5c30;
$blue: #3357a3;
$lightblue: #4590c4;

// Typography:


// Breakpoints:
$mobile: 650px;
$ipad:850px